@model IEnumerable<Blog.Models.PublicImageViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/gallery");
 @Styles.Render("~/Content/css/gallery")
  <script>
    $(function() {
      $('a').fullsizable({
        detach_id: 'container'
      });

      $(document).on('fullsizable:opened', function(){
        $("#jquery-fullsizable").swipe({
          swipeLeft: function(){
            $(document).trigger('fullsizable:next')
          },
          swipeRight: function(){
            $(document).trigger('fullsizable:prev')
          },
          swipeUp: function(){
            $(document).trigger('fullsizable:close')
          }
        });
      });
    });
  </script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pag-header">Public Gallery</h1>
        </div>
        @if (Model!=null)
        {
            foreach (var img in Model)
            {
                <a class="col-lg-3 col-md-4 col-xs-6 thumbnail thumb" href="@img.Url">
                    <img class="img-responsive" src="@img.Url"/>
                </a>
            }
        }
    </div>
</div>
