
body {
  font-family: 'Lora', 'Times New Roman','chineseCute', serif;
  font-size: 20px;
  color: #404040;
      padding:0;
    margin:0;
  
}
/* Top Navigation */


.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li:hover,
.top-nav>li:focus,
.top-nav>.open,
.top-nav>.open:hover,
.top-nav>.open:focus {
    color: #fff;
    background-color: #000;
}
#side-ul-block{
    padding-right:0px;
}


/* Side Navigation */
@media only screen and (min-width: 768px) {
    .side-nav {
        border: none;
        border-radius: 0;
        background-color: #303030;
        bottom: 0;
        padding-bottom: 0px;
           border-radius:5px;
    }
        .side-nav > li > a {
            color:#999;
        }

        .side-nav > li  {
            display:block;
        }


        .side-nav li :hover,
        .side-nav li :focus {
            outline: none;
            background-color: #f3f3f3 !important;
        }


}


.navbar-nav > li {
    margin-left:  0px
}

.side-nav>li>ul>li {
    display: block;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li:hover {
    color: #fff;
}
#Container {
    margin-top: 5px;
    padding:0;
}

/*content*/
#page-wrapper {
    padding: 0;
    background-color: #fff;
}

.page-header {
    margin:50px 0 20px;
}
