

#refUrl {
    font-size: 10px;
}

@media only screen and (min-width: 450px) {
    .unit {
        min-height:280px;
        padding:5px;
    }
    .front > img {
    max-height:280px;
}
    .detail {
        position: relative;
    }

        .detail > .input-group {
            margin-bottom: 5px;
        }

}

@media only screen and (max-width: 450px) {
    .unit {
        min-height:150px;
        padding:5px;
    }
    #toolTipSpan {
        display: none;
    }
        .front > img {
    max-height:150px;
}
}

.detail {
    position: relative;
}
.thumb {
    min-height:inherit;
}

.copyIcon, .copyIcon:hover {
    padding: 0px 20px;
    background-image: url('/Content/img/copy.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
   min-width:41px;
}

