

#refUrl {
    font-size: 10px;
}

@media only screen and (min-width: 450px) {
    .unit {
        min-height:280px;
        padding:5px;
    }
    .front > img {
    max-height:270px;
}
    .detail {
        position: relative;
    }

        .detail > .input-group {
            margin-bottom: 5px;
        }

}

@media only screen and (max-width: 450px) {
    .unit {
        min-height:150px;
        padding:5px;
    }
    #toolTipSpan {
        display: none;
    }
        .front > img {
    max-height:140px;
}
}

.detail {
    position: relative;
}
.thumb {
    min-height:inherit;
}


.togglebutton > label {
    color: black;
}
