body {
}
#refUrl {
    font-size:10px;
    
}
.unit {
    padding:5px;
    height:220px;
}
@media only screen and (min-width: 768px) {
    .unit {
      height:  300px;
    }
    .detail {
    float:left;
    top:180px;
    position:inherit;
}
            .detail >.input-group {
            margin-bottom:5px;
            width:195px;
        }
}
@media only screen and (max-width: 768px) {
       .unit {
      height:  280px;
    }
    .detail {
        float: left;
        top: 150px;
        position: inherit;
    }
  #toolTipSpan {
      display:none;
    }
          .detail >.input-group {
            margin-bottom:5px;
            width:145px;
        }
}

.copyIcon,.copyIcon:hover {
    padding: 0px 20px;
    background-image:url('/Content/img/copy.png');
    background-repeat:no-repeat;
    background-position:center;
    opacity: 0.6;
}

.thumb  {
      float: none;
     margin-left: auto;
     margin-right: auto;
}

img {
}