@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}


                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i>Dashboard
                            </li>
                        </ol>
                        <a href="/Home/ViewImage/@Session["LoggedUserID"]">View my Gallery</a>

<script>
    $(document).ready(function () {
        $('.side-nav > #Index>a').css("color", "#fff");
    })
</script>