@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}
@Scripts.Render("~/bundles/upload")

<script>
    function _(el) {
        return document.getElementById(el);
    }
    var ajax = new XMLHttpRequest();
    function uploadFile() {
        _("progressBar").style.width = "0%";
        _("upload-cancel").style.display = "initial";
        _("status").className = "alert alert-info";
        var file = _("file1").files[0];
        //alert(file.name+"|" + file.size +"|" + file.type);
        var formdata = new FormData();
        formdata.append("file1", file);
        ajax.upload.addEventListener("progress", progressHandler, false);
        ajax.addEventListener("load", completeHandler, false);
        ajax.addEventListener("error", errorHandler, false);
        ajax.addEventListener("abort", abortHandler, false);
        ajax.open("POST", "@Url.Action("FileUpload", "DashBoard")");
        ajax.responseType = "json";
        ajax.send(formdata);
    }
    function progressHandler(event) {
        _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of total " + event.total + "bytes";
        var percent = (event.loaded / event.total) * 100;
        _("progressBar").style.width = Math.round(percent) + "%";
        _("status").innerHTML = Math.round(percent) + "% Uploaded... please wait";
    }
    function cancelFile()
    {
        if (ajax.readyState == 1) {
            ajax.abort();
            _("upload-cancel").style.display = "none";
        }
    }

    function completeHandler(event) {
        var res = event.currentTarget.response;
        //res=res.substring(1, res.length - 1);
        var feedback = JSON.parse(res);
        _("status").innerHTML = "Done";
        _("status").className = "alert alert-success";
        _("upload-cancel").style.display = "none";
        for (var i = 0 ; feedback != null && i < feedback.length; i++) {
            var oneRecord = document.createElement("a");
            if (feedback[i]["isAccept"] == 0) {
                oneRecord.href = "/Home/ViewImage/" + feedback[i]["UserID"];
                oneRecord.className = "list-group-item list-group-item-success";
                var innerLink = document.createElement("span");
                innerLink.className = "badge alert-success pull-right";
                innerLink.innerText = "Success";
                oneRecord.appendChild(innerLink);
                oneRecord.innerHTML += feedback[i]["fileName"];
            }
            else {
                oneRecord.className = "list-group-item list-group-item-danger";
                var innerLink = document.createElement("span");
                innerLink.className = "badge alert-danger pull-right";
                innerLink.innerText = "Failed";
                oneRecord.appendChild(innerLink);
                oneRecord.innerHTML += feedback[i]["fileName"] + "[" + feedback[i]["Error"] + "]";
            }
            _("resultList").appendChild(oneRecord);
        }
    }
    function errorHandler(event) {
        _("status").className = "alert alert-danger";
        _("status").innerHTML = "Upload Failed";
    }
    function abortHandler(event) {
        _("progressBar").style.width = "0%";
        _("loaded_n_total").innerHTML = "";
        _("status").className = "alert alert-warning";
        _("status").innerHTML = "Upload Aborted";
    }

</script>

<div class="col-lg-12">
    <h1 class="page-header">Media <small>Post</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-paper-plane"></i>Media Post
        </li>
    </ol>
</div>
<input type="file" class="filestyle" name="files1" id="file1">
<br />
<button type="button" class="btn btn-sm btn-primary" id="upload-submit" onclick="uploadFile()">Upload files</button>
<button type="button" style="display:none" class="btn btn-sm btn-warning" id="upload-cancel" onclick="cancelFile()">Cancel</button>


<!-- Drop Zone -->
<h4>Or drag and drop files below</h4>
<div class="upload-drop-zone" id="drop-zone">
    Just drag and drop files here
</div>

<!--  Load bytes-->
<p id="loaded_n_total"></p>
<p id="status"></p>
<!-- Progress Bar -->
<div class="progress">
    <div class="progress-bar" id="progressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
    </div>
</div>

<!-- Upload Finished -->
<div class="js-upload-finished">
    <h3>Processed files</h3>
    <div class="list-group" id="resultList">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.side-nav > #Upload >a').css("color", "#fff");
    })
</script>