@font-face {
    font-family:'chineseCute';
    src:url('/Content/fonts/chineseCuteFont.ttf');
}
@font-face {
    font-family:'aiqing';
    src:url('/Content/fonts/aiqing.ttf');
}
@font-face {
    font-family:'xujinglei';
    src:url('/Content/fonts/xjlFont.ttf');
}
@font-face {
    font-family:'yuanti';
    src:url('/Content/fonts/yuanti.ttf');
}