
@font-face {
    font-family: 'Roboto-Light';
    src: url('/Content/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/Content/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('/Content/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/Content/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
/*@font-face {
    font-family: 'Hiragino Sans GB W3';
    src: url('../fonts/Hiragino Sans GB W3.ttf') format('truetype');
}*/
@font-face {
    font-family:'chineseCute';
    src:url('/Content/fonts/chineseCuteFont.ttf');
}
@font-face {
    font-family:'aiqing';
    src:url('/Content/fonts/aiqing.ttf');
}
@font-face {
    font-family:'xujinglei';
    src:url('/Content/fonts/xjlFont.ttf');
}
@font-face {
    font-family:'yuanti';
    src:url('/Content/fonts/yuanti.ttf');
}
@font-face {
    font-family:'bootstrapIcons';
    src:url('/Content/fonts/glyphicons-halflings-regular.woff2'),
       url('/Content/fonts/glyphicons-halflings-regular.woff'),
        url('/Content/fonts/glyphicons-halflings-regular.ttf') ;
}
