@model Blog.Models.ImageView
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImageDetail</title>
</head>
<body style="background-image:url(@Model.Url);background-repeat:no-repeat">
</body>
</html>
