@model Blog.Models.ImageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImageDetail</title>
</head>
<body>
    <img src=@Model.Url/>
</body>
</html>
