@using System.Net.Http
@using System.Web.UI.WebControls
@model IEnumerable<Blog.Models.ArticleAbstract>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!-- Half Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide col-xs-12">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image: url('../../Content/img/home-bg.jpg'); "></div>
            <div class="carousel-caption">
                <div class="site-heading">
                    <h1 class="title-heading">Share 分享</h1>
                    <hr class="small">
                    <span class="subheading">套马的汉子 Horse's Soulmate</span>
                </div>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image: url('Content/img/home-freedom.jpg');"></div>
            <div class="carousel-caption">
                <div class="site-heading">
                    <h1 class="title-heading">Free 自由</h1>
                    <hr class="small">
                    <span class="subheading">心理鸡汤 Chicken Soup</span>
                </div>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image: url('Content/img/home-brave.png');"></div>
            <div class="carousel-caption">
                <div class="site-heading">
                    <h1 class="title-heading">Brave 勇敢</h1>
                    <hr class="small">
                    <span class="subheading">往前一步是蓝天 You jump I jump</span>
                </div>
            </div>
        </div>
    </div>


    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>





<!-- Main Content -->

<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
    <div id="articlesList">
        @{Html.RenderPartial(@"_articlesList", Model);}
    </div>
    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            @if (ViewBag.currentPage < ViewBag.lastPage)
            {
                using (Ajax.BeginForm(new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "articlesList"
                }))
                {
                    <input type="hidden" name="currentPage" value="@ViewBag.currentPage" />
                    <input type="hidden" name="lastPage" value="@ViewBag.lastPage" />
                    <ul class="pager"><li class="btn next" id="next"> <a id="olderArticles">Older Posts &rarr;</a></li>
                        <li id="Pageinfo">@ViewBag.currentPage / @ViewBag.lastPage</li>
                        <li class="btn previous" id="previous" style="display: none"><a  id="newerArticles">&larr; Newer posts</a></li></ul>
                }
            }
        </li>
    </ul>
</div>

<hr>
<script type="text/javascript">
    function hiddenAndDisplay(currentPage) {
        var lastPage=@ViewBag.lastPage;
        if (currentPage === lastPage) {
            $('li[id="next"]').attr("style", "display:none");
        } else {
            $('li[id="next"]').attr("style", "display:initial");
        }
        if (currentPage === 1) {
            $('li[id="previous"]').attr("style", "display:none");
        } else {
            $('li[id="previous"]').attr("style", "display:initial");
        }
        $("#Pageinfo").html(currentPage + " / " + lastPage);
    }

    $(document).ready(function() {
        $("#olderArticles").click(function() {
            var currrentPage = $('input[name="currentPage"]').val();
            $('input[name="currentPage"]').val((parseInt(currrentPage) + 1));
            $("form").submit();
            hiddenAndDisplay((parseInt(currrentPage) + 1));
        });
        $("#newerArticles").click(function() {
            var currrentPage = $('input[name="currentPage"]').val();
            $('input[name="currentPage"]').val((parseInt(currrentPage) - 1));
            $("form").submit();
            hiddenAndDisplay((parseInt(currrentPage) - 1));
        });
    });

</script>
