    .thumbnail :hover {
        position:relative;
        z-index:999
    }
    .thumbnail :hover {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}
#pagination {
    text-align:center;
}

.active {
    z-index:2;
}