#gallery>a:hover {
    position: relative;
    z-index: 999;
}

 #gallery>a:hover {
    -webkit-transform: scale(1.7,1.7);
    -moz-transform: scale(1.7,1.7);
    -ms-transform: scale(1.7,1.7);
    -o-transform: scale(1.7,1.7);
    transform: scale(1.7,1.7);
    -webkit-transition: .1s transform;
    -moz-transition: .1s transform;
    -ms-transition: .1s transform;
    -o-transition: .1s transform;
    transition: .1s transform;
}


#pagination {
    text-align: center;
}

.active {
    z-index: 2;
}
