.profile-userpic img {
  float:none;
   margin:20px auto;
   display: block;
  width: 50%;
  height:50%;
    box-shadow: 5px 5px 5px #aaaaaa;
}
.bg_img {
  
    position:absolute;
    background-size:cover;
  z-index: 1;
      padding:0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity:.7;
  
}

.ProfileCard {
    display:block;
        background-color:rgba(217, 237, 247,0.3);
    z-index: 999;
}
.profile-usermenu {
    opacity:0.9;
}
#contact {
      float:none;
  margin:  auto;
   display: block;
}
.profile-info {
    text-align:center;
}


