<form action="http://localhost:50579/Admin/Login" class="form-signin" method="post">      <h2 class="form-signin-heading">登录 Login</h2>
<input autofocus="" class="form-control username-field" data-val="true" data-val-required="Please provide username" id="UserName" name="UserName" placeholder="用户名 Username" type="text" value="" />            <br>
<input class="form-control password password-field" data-val="true" data-val-required="Please provide password" id="Password" name="Password" placeholder="密码 Password" type="password" />           <br>
<span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>      <label class="checkbox">
        <input type="checkbox"><p>记住我 Remember me</p>
      </label>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="登录 Login"/>
       <br><a href='/Admin/Signup'>没有账户 Don't have an account?</a> 
</form>